{% extends 'apptorneo/base.html' %}

{% block title %}
Página de Partidos
{% endblock %} 
{% block content %} 
<h1>Bienvenido a la página de partidos</h1> 
<p>Completa los siguientes datos para definir los encuentros.</p> 

{% if mensaje %}
    <p>{{ mensaje }}</p>
{% endif %}

<form action="/crear_partido/" method="post" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    <div class="mb-3"> 
    {{ form.as_p }}
    </div> 
    <button type="submit" class="btn btn-primary">Enviar</button> 
</form>

{% endblock %}