{% extends 'apptorneo/base.html' %}

{% block title %}Detalle del Partido{% endblock %}

{% block content %}
   <h1>Detalle del Partido</h1>
    <h2>{{ detalle_partido.local }} vs {{ detalle_partido.visitante }}</h2>
    <p><strong>Fecha:</strong> {{ detalle_partido.fecha }}</p>
    <p><strong>Goles Local:</strong> {{ detalle_partido.goles_local }}</p>
    <p><strong>Goles Visitante:</strong> {{ detalle_partido.goles_visitante }}</p>

    {% if detalle_partido.descripcion %}
        <p><strong>Descripción:</strong></p>
        <div>
            {{ detalle_partido.descripcion|safe }}
        </div>
    {% endif %}


    {% if detalle_partido.imagen %}
        <img src="{{ detalle_partido.imagen.url }}" alt="Imagen del partido" style="max-width: 400px;">
    {% else %}
        <p>No hay imagen disponible.</p>
    {% endif %}
{% endblock %}